<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Karteikarten</title>
</head>
<body>
<div th:insert="~{fragments/template :: navbar_index}"></div>

<div  style="padding:250px">
<div class="container">
    <div class="row">

    <!--BUTTONS left-->
        <div class="col-md-3">
            <ul>
                <li class="list-group-item">
                    <button onclick="location.href = '/question_form';" type="button" class="button_mischok"
                    >Create
                    </button>
                </li>
                <li class="list-group-item">
                    <button onclick="location.href = '/question_read';" type="button" class="button_mischok"
                    >Overview
                    </button>
                </li>
                <li class="list-group-item">
                    <button onclick="location.href = '/quiz';" type="button" class="button_mischok"
                    >Quiz
                    </button>
                </li>
                <li class="list-group-item">
                    <button onclick="location.href = '/result';" type="button" class="button_mischok"
                    >Result
                    </button>
                </li>
            </ul>
        </div>

    <!--IMAGE right-->
        <div class="col-md-9 pt-4">
            <img th:src="@{/img/index_pic.jpg}" width="900px" alt="Your Image"/>
        </div>

    </div>
</div>
</div>

<div th:insert="~{fragments/template :: footer}"></div>

</body>
</html>
