<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Karteikarten</title>
</head>
<body>
<div th:insert="~{fragments/template :: navbar}"></div>
<!--test-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="float-start">



<ul>
    <li class="list-group-item"> <button onclick="location.href = '/question_form';" type="button" class="button_mischok"
    >Create</button> </li>
    <li class="list-group-item"><button onclick="location.href = '/question_read';" type="button" class="button_mischok"
    >Overview</button> </li>
    <li class="list-group-item" > <button onclick="location.href = '/quiz';" type="button" class="button_mischok"
    >Quiz</button> </li>
    <li class="list-group-item" > <button onclick="location.href = '/result';" type="button" class="button_mischok"
    >Result</button> </li>
</ul>
</div>

<div class="float-end">




    <img th:src="@{/img/index_pic.jpg}" width="1200px" alt="Your Image" />

</div>

https://getbootstrap.com/docs/5.3/utilities/flex/


<div th:insert="~{fragments/template :: footer}"></div>

</body>
</html>
