<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Read</title>
</head>
<body>

<div th:insert="~{fragments/template :: navbar}"></div>
<br> <br> <br> <br> <br>


<div>
    <h2 style="text-align:center">All Questions!</h2>
<table align="center" class="table w-75">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Frage</th>
        <th scope="col">Antwort</th>
        <th scope="col">Result in %</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
     <tr  th:each="question: ${questions}">


    <td th:text="${question.id}"/>
    <td th:text="${question.frage}"/>
    <td th:text="${question.antwort}"/>
    <td th:text="${question.r}"/>


    <td>
        <div th:each="question : ${question}">
            <a th:href="@{/question_edit/{id}(id = ${question.id})}">
                <span type="button" class="btn btn-outline-warning " th:text="edit"></span></a>
            <a th:href="@{/question_edit/{id}(id = ${question.id})}">
                <span type="button" class="btn btn-outline-danger " th:text="delete"></span></a>
        </div>
    </tr>
    </tbody>
</table>
</div>

<div th:insert="~{fragments/template :: footer}"></div>
</body>
</html>
<body>
