<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
test
<div align="center">
    <h2>Question added success!</h2>
    <span>Frage:</span><span th:text="${question.frage}"></span><br/>
    <span>Antwort:</span><span th:text="${question.antwort}"></span><br/>
    <span>id:</span><span th:text="${question.id}"></span><br/>

</div>
<!--
//${} für lesen
// *{}  für input-->
<!--<table>
    <tr>
        <th style="color:red"> ID</th>
    </tr>
    <tr th:each="question">

        <td th:text="${id}"/>
    </tr>
</table>-->



</body>
</html>