<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Added</title>
</head>
<body>

<div th:insert="~{fragments/template :: navbar}"></div>
<div  style="padding:250px">
    <h1 class="d-flex justify-content-center" >Just Added</h1>
<table class="table w-75" align="center" style="border:1px solid">
    <tr>
        <th>Frage</th>
        <th>Antwort</th>

    </tr>
    <tr>

        <td th:text="${question.frage}"/>
        <td th:text="${question.antwort}"/>
       <!-- <td th:text="${question.id}"/>-->

    </tr>
</table>
<br>
<div align="center">          <!--th:field setzt id, name und value-Attribut mit den eingegebenen wert-->
    <h1 >Next Question</h1>
    <form action="#" class="table mb-3" th:action="@{/question_added}" method="post" th:object="${question}">
        <!--          th:action= URL an, an den das Formular die Daten senden wird
                                                       ${question} is the object of class Question-->
        <label class="form-label">Question:</label>
        <input class="form-control w-75" style="color:red" type="text" required placeholder="Enter Question" th:field="${newQuestion.frage}"/><br/>
        <!--        <input type="text" required placeholder="Enter Question" th:id="*{frage}" th:name="${question.frage}" th:value="${question.frage}"/><br/>-->

        <!-- id="xxx" is only css-style, not DB-table-->
        <!-- placeholder: text visible in input-feld when nothing is written-->
        <!-- type=text: we get a text-input-field. opt=date, time, url, ...
           th:field=frage -> to save the input in the variable from object of class-->

        <label class="form-label">Answer:</label>
        <input id="input_answer" class="form-control w-75" style="color:green" type="text" required placeholder="Enter Answer" th:field="${newQuestion.antwort}"/>
        <br>
        <br>
        <!-- || <button type="submit">Create User</button> || this does the same as input-type as below-->
        <input type="submit" class="button_mischok" value="Submit">
    </form>
</div>
</div>
<!--
//${} für lesen
// *{}  für input-->
<!--<table>
    <tr>
        <th style="color:red"> ID</th>
    </tr>
    <tr th:each="question">

        <td th:text="${id}"/>
    </tr>
</table>-->


<div th:insert="~{fragments/template :: footer}"></div>
</body>
</html>