<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Edit</title>
</head>
<body>
<div th:insert="~{fragments/template :: navbar}"></div>

<div style="padding:250px">
    <h1 class="d-flex justify-content-center">Your Question</h1>
    <table class="table w-75" align="center" style="border:1px solid">
        <tr>
            <th>Question</th>
            <th>Answer</th>
        </tr>
        <tr>
            <td th:text="${oldQuestion.frage}"/>
            <td th:text="${oldQuestion.antwort}"/>
        </tr>
    </table>
    <br>
    <div align="center">
        <h1>Change Question</h1>
        <form action="#" class="table mb-3" th:action="@{/question_edit/{id}(id=${oldQuestion.id})}" method="post"
              th:object="${newQuestion}">
            <label class="form-label">Question:</label>
            <input class="form-control w-75" style="color:red" type="text" required
                   th:field="${oldQuestion.frage}"/><br/>
            <label class="form-label">Answer:</label>
            <input id="input_answer" class="form-control w-75" style="color:green" type="text" required
                   th:field="${oldQuestion.antwort}"/>
            <br>
            <br>
            <button type="submit" class="btn btn-outline-warning mx-1 button_mischok" style="color:yellow">Change
            </button>
        </form>
    </div>
</div>

<div th:insert="~{fragments/template :: footer}"></div>
</body>
</html>