<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Overview</title>
</head>
<body>

<div th:insert="~{fragments/template :: navbar}"></div>



<div class="container" style="padding:200px">
    <h2 style="text-align:center">All Questions</h2>
<table  class="table w-100">
    <thead>
    <tr >
        <th  scope="col">#</th>
        <th  scope="col">Question</th>
        <th  scope="col">Answer</th>
        <th class="col-md-auto" scope="col" align=center  style="text-align:center" >Result</th>
        <th class="col" scope="col" style="text-align:center" >Handle</th>
    </tr>
    </thead>
    <tbody>
     <tr  th:each="question: ${questions}">


    <td th:text="${question.id}"/>
    <td th:text="${question.frage}"/>
    <td th:text="${question.antwort}"/>
    <td style="text-align:center"  th:text="${question.r+'%'}"/>


    <td width="145px">
        <div  th:each="question : ${question}">

            <a th:href="@{/question_edit/{id}(id = ${question.id})}">
                <span type="button" class="btn btn-outline-warning button_mischok_kl "  th:text="edit" style="box-shadow: 0 18px 20px -4px rgba(26,34,42,.3); color:yellow">

                </span></a>
            <a th:href="@{/question_delete/{id}(id= ${question.id})}">
                <span type="button"  class="btn btn-outline-danger button_mischok_kl " th:text="delete" style="box-shadow: 0 18px 20px -4px rgba(26,34,42,.3);  color:#FF0033">

                </span></a>

        </div>
    </tr>
    </tbody>
</table>
</div>


<div th:insert="~{fragments/template :: footer}" class="position-fixed" ></div>


</body>

<!--<footer   style="background-color:#f9f9f9; position:fixed; bottom:0; width:100%;      "  >
    <div >
        <ul class=" nav p-3" style="left:calc(50% - 165px)"  >
            <li class="nav-item"><span class="px-10 nav-link text-muted"></span></li>
            <li class="nav-item"><span class="px-1 nav-link text-muted"></span></li>
            <li class="nav-item"><span class="px-1 nav-link text-muted"></span></li>
            <li class="nav-item"><a href="https://www.mischok.academy/impressum" target="_blank" class="nav-link px-2 text-muted  ">Impressum</a>
            <li class="nav-item"><a href="https://www.mischok.academy/datenschutz" target="_blank" class="nav-link px-2 text-muted">AGB</a>
            <li class="nav-item"><span class="px-1 nav-link text-muted"></span></li>
            <li class="nav-item"><span class="nav-link text-muted px-2">© 2023 Mischok GmbH</span>
            </li>
        </ul>
    </div>

</footer>-->

<!--<footer class="navbar-expand-lg pb-3 mx-auto " style="background-color:yellow"> casa</footer>-->
</html>

