<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Quiz</title>
</head>
<body>
<div th:insert="~{fragments/template :: navbar}"></div>

<div class="container" align=center>


    <div class="box-item col-md-4">
        <div class="flip-box">
            <div class="flip-box-front text-center" style="background-image: url(/img/Karteikarten.jpg);">
                <div class="inner color-white">
                    <h3 class="flip-box-header">Question</h3>
                    <div th:text="${question.frage}"/>
                    <p></p>

                </div>
            </div>
            <div class="flip-box-back text-center" style="background-image: url(/img/Karteikarten.jpg);">
                <div class="inner color-white">
                    <h3 class="flip-box-header">Answer</h3>
                    <div th:text="${question.antwort}"/>
                    <div th:text="${question.id}"/>



                </div>
            </div>
        </div>
    </div>
</div> <!--Card-->

<form action="#" th:action="@{/quiz/{qid}(qid= ${question.id})}" method="post" th:object="${question}">


    <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-success mx-1">Korrekt</button>
        <button onclick="location.href = 'quiz';" type="button" class="btn btn-danger mx-1">Falsch</button>
    </div>

</form>







<div th:insert="~{fragments/template :: footer}"></div>
</body>
</html>