<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>TESTTTTTTTT</title>
</head>
<body>
<div th:insert="~{fragments/template :: navbar}"></div>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a>Typ eine frage ein</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default" style="width: 100px">Frage</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default1" style="width: 100px">Antwort</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <a href="#" class="btn btn-primary">Save & Next</a>
    </div>
</div>

<div align="center">
    <h1>Spring Boot Form Demo</h1>
    <a href="/register">Click here to register</a>
</div>

<!--<div align="center">
    <h2>All Questions!</h2>

    &lt;!&ndash; <span>Frage:</span><span th:text="${question.frage}"></span><br/>
     <span>Antwort:</span><span th:text="${question.antwort}"></span><br/>&ndash;&gt;
    <table style="border:1px solid">
        <tr style="border:1px solid"> <tr>Just added - row</tr>
        </tr>
        <tr>
            <th>ID</th>
            <th>Frage</th>
            <th>Antwort</th>
            <th>clickme</th>
        </tr>
        <th>

        </th>

        <tr th:each="question: ${questions}">



            <td th:text="${question.id}"/>

            <td th:text="${question.frage}"/>
            <td th:text="${question.antwort}"/>
            <td  style="color:orange" >
                <button  style="border:1px solid" onclick="location.href = 'question_edit';" type="button" class="btn ">edit</button>
            </td>
            <td style="color:red" >
                <button  style="border:1px solid" onclick="location.href = 'karteikarten';" type="button" class="btn ">delete</button>
            </td>

            &lt;!&ndash;  <button onclick="location.href = 'karteikarten';" type="button" class="btn btn-primary"
                      style="&#45;&#45;bs-btn-padding-y: .25rem; &#45;&#45;bs-btn-padding-x: .5rem; &#45;&#45;bs-btn-font-size:20px .75rem;">Create</button>&ndash;&gt;
        </tr>

    </table>
</div>-->

<div th:insert="~{fragments/template :: footer}"></div>
</body>
</html>